<navbar>
  <navlink *ngIf="user.type_id < 4" [active]="false" linkref="/management" linkval="Management"></navlink>
  <navlink [active]="false" linkref="/job-postings" linkval="Job Postings"></navlink>
  <navlink [active]="false" [signOut]="true" linkval="Sign out"></navlink>
</navbar>


<form class="flex-col small-form-container" id="addJobForm" [formGroup]="addJobForm" (ngSubmit)="submit()">
  <h1 class="form-title">Add Job Posting</h1>
  <div class="input-text">
    <label for="termId"> Term: </label>
    <select #job_id name="termId" id="termId" formControlName="termId" (change)="onSelectTerm(job_id)">
      <option value="-1" autofocus>CHOOSE A TERM FIRST...</option>
      <option *ngFor="let term of termList" value="{{term.term_id}}">{{term.term_name}}</option>
    </select>
  </div>

  <div class="input-text">
    <label for="courseName">Course Name:</label>
    <select #course_name name="courseName" id="courseName" formControlName="courseName" (change)="onSelectCourse(course_name)">
      <option *ngFor="let jobs of termJobList" value="{{jobs.course_id}}">
        {{jobs.course_name}}
      </option>
    </select>
  </div>

  <div class="input-text">
    <label for="courseCode"> Course Code: </label>
    <input type="text" name="courseCode" id="courseCode" formControlName="courseCode" readonly />
  </div>

  <input type="hidden" name="courseId" id="courseId" formControlName="courseId">

  <form-submit inputval="Submit" style="margin: auto"></form-submit>
</form>
